<div class="row">
  <div class="col-12 col-md-6">
    <app-card>
      <app-grafico-dona
        [leyenda]="grafico1.leyenda"
        [etiquetas]="grafico1.labels"
        [datos]="grafico1.data"
      ></app-grafico-dona>
    </app-card>
  </div>
  <div class="col-12 col-md-6">
    <app-card>
      <app-grafico-dona
        [leyenda]="grafico2.leyenda"
        [etiquetas]="grafico2.labels"
        [datos]="grafico2.data"
      ></app-grafico-dona>
    </app-card>
  </div>
</div>

<div class="row">
  <div class="col-12 col-md-6">
    <app-card>
      <app-grafico-dona
        [leyenda]="grafico3.leyenda"
        [etiquetas]="grafico3.labels"
        [datos]="grafico3.data"
      ></app-grafico-dona>
    </app-card>
  </div>
  <div class="col-12 col-md-6">
    <app-card>
      <app-grafico-dona
        [leyenda]="grafico4.leyenda"
        [etiquetas]="grafico4.labels"
        [datos]="grafico4.data"
      ></app-grafico-dona>
    </app-card>
  </div>
</div>
